@page "/PostView/{*DocumentUri}"

@if (documentMetadata == default) return;

<PageTitle>@documentMetadata.Title</PageTitle>

<div class="fs-1 fw-bolder text-center">@documentMetadata.Title</div>
<div class="container">
    <article>
        @documentContent
    </article>

    <TagListView Tags="@documentMetadata.Tags" />

</div>

@code
{
    [Parameter]
    public required string DocumentUri { get; init; }
}
