@if (Tree == default) return;

<ul class="list-unstyled">
    <li>
        <NavLink class="text-decoration-none text-body" href="@($"{BaseUri}/{Tree.Value.Directory}")">
            @Tree.Value.Directory
        </NavLink>

        @if (Tree.SubTrees.Any())
        {
            <div class="ms-2 ps-2 border-start">
                @foreach (var subTree in Tree.SubTrees)
                {
                    <DirectoryTreeView Tree=@subTree BaseUri=@($"{BaseUri}/{Tree.Value.Directory}") />
                }
            </div>
        }
    </li>
</ul>

@code
{
    [Parameter]
    public required FileTree Tree { get; init; }

    [Parameter]
    public required string BaseUri { get; init; }
}
