@typeparam T

<div class="dropdown shadow">
    <button type="button" class="btn btn-secondary dropdown-toggle border border-0" data-bs-toggle="dropdown">
        @if (SelectedItem != null)
        {
            @SelectedItem
        }
    </button>
    <div class="dropdown-menu">
        <Virtualize Items="@Items.ToArray()" Context="item">
            <button type="button" class="dropdown-item" @key="@item" @onclick="@(async () => await OnItemSelectedAsync(item))">
                @item
            </button>
        </Virtualize>
    </div>
</div>

@code
{
    [Parameter, EditorRequired]
    public required IEnumerable<T> Items { get; init; }

    [Parameter]
    public T? SelectedItem { get; set; }

    [Parameter]
    public EventCallback<T> SelectedItemChanged { get; init; }

}
