<div class="sticky-bottom p-3 d-flex justify-content-end">
    <button class="btn btn-primary rounded-circle shadow d-flex align-items-center justify-content-center"
            style="width: 60px; height: 60px;"
            @onclick=GoToTop>
        <i class="bi bi-arrow-up-short fs-1"></i>
    </button>
</div>
