<div class="d-flex flex-row bg-body-tertiary text-center p-3">
    <nav class="navbar navbar-expand-lg">
        <span class="align-self-start">
            <NavLink class="nav-link" href="" Match=@NavLinkMatch.All>
                <span class="fw-bold">YUBIZ BLOG</span>
            </NavLink>
        </span>
    </nav>
</div>
