<nav class="navbar navbar-expand-lg bg-body-tertiary p-3 mb-2">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/">YUBIZ BLOG</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navMenu">
            <ul class="navbar-nav">
                <li class="nav-item fw-bold d-lg-none">
                    👷 some useful things will be added later 🏗️
                </li>
            </ul>
        </div>
    </div>
</nav>