<div class="d-flex flex-row bg-body-tertiary text-center p-3">
    <nav class="navbar navbar-expand-lg">
        <NavLink class="nav-link" href="" Match=@NavLinkMatch.All>
            <span class="fw-bold ">
                YUBIZ BLOG
            </span>
        </NavLink>
    </nav>
</div>
