.top-nav {
    display: block;
}

.side-nav {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 100%;
}

@media(orientation: landscape) {
    .top-nav {
        display: none;
    }
}

@media(orientation: portrait) {
    .side-nav {
        display: none;
    }

}
