<div class="bg-body-tertiary shadow p-3">
    <div class="top-nav">
        <nav class="nav justify-content-center bg-body-secondary rounded-5 shadow">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house-door-fill"></i>
            </NavLink>
            <NavLink class="nav-link" href="https://github.com/YUBIZ" Match="NavLinkMatch.All">
                <i class="bi bi-github"></i>
            </NavLink>
        </nav>
    </div>

    <div class="side-nav">
        <div class="text-center">
            <img src="https://github.com/YUBIZ.png" width="64" height="64" class="rounded-2 mx-auto">
            <div class="my-2">YUBIZ</div>
        </div>
        <nav class="nav justify-content-center bg-body-secondary rounded-5 shadow">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house-door-fill"></i>
            </NavLink>
            <NavLink class="nav-link" href="https://github.com/YUBIZ" Match="NavLinkMatch.All">
                <i class="bi bi-github"></i>
            </NavLink>
        </nav>
        <hr />
        <div class="overflow-y-auto text-break">
        </div>
    </div>
</div>
