@page "/CategoryView/Docs/{*CategoryUri}"

<div class="container">
    <div class="mt-2 row">
        <div class="col-lg-9">
            @if (SubDocsList?.Count() > 0)
            {
                @foreach (var item in SubDocsList)
                {
                    <PostCard PostUri=@item />
                }
            }
        </div>
        <div class="col-lg-3 d-none d-lg-block">
            <div class="sticky-top top" style="top: 1rem; ">
                <div class="d-flex flex-row rounded bg-black justify-content-center p-2 mb-2">
                    <NavLink class="nav-link" href="https://github.com/YUBIZ" Match="NavLinkMatch.All">
                        <i class="bi bi-github" />
                    </NavLink>
                </div>
                <div class="bg-body-secondary rounded p-1">
                    <DirectoryTreeView Tree=@docsTree BaseUri="CategoryView" />
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public required string CategoryUri { get; init; }
}