@page "/CategoryView/Document"

@if (documentFileTree == default) return;

<div class="container">
    <div class="mt-2 row">
        <div class="col-lg-3 mb-2 order-lg-1">
            <div class="sticky-top" style="top: 1rem;">
                <div class="d-flex flex-row rounded bg-black justify-content-center p-2 mb-2 shadow">
                    <NavLink class="nav-link" href="https://github.com/YUBIZ" Match="NavLinkMatch.All">
                        <i class="bi bi-github fs-5" />
                    </NavLink>
                </div>
                <div class="bg-body-secondary rounded p-1 shadow">
                    <FileTreeView FileTree="documentFileTree" />
                </div>
            </div>
        </div>
        <div class="col-lg-9 order-lg-0">

            <div class="btn-group mb-2 gap-2">
                <Dropdown Items="Enum.GetValues<OrderType>()" @bind-SelectedItem="CurrentOrderType" />
                <Dropdown Items="Enum.GetValues<OrderDirection>()" @bind-SelectedItem="CurrentOrderDirection" />
            </div>

            <Virtualize Items="@filteredAndOrderedDocumentFilePathAndCommitHistoryCollection" Context="item">
                <DocumentCard @key="@item.FilePath" DocumentUri="@item.FilePath" />
                <hr />
            </Virtualize>
        </div>
    </div>
</div>
