@page "/CategoryView/{*DocumentCategoryUri}"

@if (documentFileTree == default) return;

<div class="container">
    <div class="mt-2 row">
        <div class="col-lg-3 mb-2 order-lg-1">
            <div class="sticky-top" style="top: 1rem;">
                <div class="d-flex flex-row rounded bg-black justify-content-center p-2 mb-2 shadow">
                    <NavLink class="nav-link" href="https://github.com/YUBIZ" Match="NavLinkMatch.All">
                        <i class="bi bi-github fs-5" />
                    </NavLink>
                </div>
                <div class="bg-body-secondary rounded p-1 shadow">
                    <DirectoryTreeView Tree=@documentFileTree BaseUri="CategoryView" />
                </div>
            </div>
        </div>
        <div class="col-lg-9 order-lg-0">
            @if (documentFilePathWithCommitHistoryCollection != null)
            {
                @foreach (var item in documentFilePathWithCommitHistoryCollection.Where(v => v.FilePath.StartsWith(DocumentCategoryUri)))
                {
                    <DocumentCard DocumentUri=@item.FilePath />
                    <hr />
                }
            }
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public required string DocumentCategoryUri { get; init; }
}